<% if user.is_followed_by?(current_user) %>
       <%= link_to user_relationships_path(user), method: :delete do %>
       <button class="btn btn-info">フォロー解除</button>
        <% end %>
      <% else %>
        <%= link_to user_relationships_path(user), method: :post do %>
         <button class="btn btn-success">フォローする</button>
        <% end %>
      <% end %>